<!-- <div class="d-flex flex-col bd-highlight mb-3">
  <div class="form-group col" style="width: 60%;">
    <div class="form-check custom-checkbox">
      <input type="checkbox" class="form-check-input" [(ngModel)]="isWaiting" [value]="isWaiting">
      <label class="form-check-label" for="customCheck1">Waiting</label>
    </div>

    <div class="form-check custom-checkbox">
      <input type="checkbox" class="form-check-input" [(ngModel)]="isAccept" [value]="isAccept">
      <label class="form-check-label" for="customCheck1">Accepted</label>
    </div>

    <div class="form-check custom-checkbox">
      <input type="checkbox" class="form-check-input" [(ngModel)]="isRejected" [value]="isRejected">
      <label class="form-check-label" for="customCheck1">Rejected</label>
    </div>

  </div>
</div>
<button type="submit" (click)="updateOrder()"  class="btn btn-primary">
  Update
</button> -->



